Repository corrin/jobs_manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: detect-empty-fstring, autoflake, black, isort, flake8, ruff, pylint-bugs

detect-empty-fstring:
  name: Detect empty f-strings & bare excepts
  entry: python scripts/detect_fstrings_without_placeholder.py
  language: system

autoflake:
  name: Remove unused imports & variables
  entry: poetry run autoflake --in-place --remove-all-unused-imports --remove-unused-variables
  language: system

black:
  name: Format Python code with black
  entry: poetry run black --quiet
  language: system

isort:
  name: Sort imports with isort
  entry: poetry run isort --profile=black --skip-glob=**/__init__.py
  language: system

flake8:
  name: Lint Python with flake8
  entry: poetry run flake8
  language: system

ruff:
  name: Check for redefinitions with ruff
  entry: poetry run ruff check --select=F811,F601
  language: system

pylint-bugs:
  name: Check for common bugs with pylint
  entry: poetry run python -m pylint --disable=all --enable=E0102,E0108,E0118,W0104,W0199,W0221,W0622 --ignore-patterns='migrations/.*\.py'
  language: system

Add nightly auto-archive for paid recently completed jobs
  apps/job/__init__.py
  apps/job/apps.py
  apps/job/scheduler_jobs.py
  apps/job/services/__init__.py
  apps/job/services/auto_archive_service.py
Due: detect-empty-fstring, autoflake, black, isort, flake8, ruff, pylint-bugs

Also auto-archive rejected jobs after 6 days in recently completed
  apps/job/services/auto_archive_service.py
Due: detect-empty-fstring, autoflake, black, isort, flake8, ruff, pylint-bugs

Fix fully_invoiced logic to respect pricing methodology
  apps/job/migrations/0069_fix_fully_invoiced.py
  apps/job/services/job_service.py
  apps/job/tests/test_job_invoicing.py
Due: detect-empty-fstring, autoflake, black, isort, flake8, ruff, pylint-bugs

Fix Xero sync crash on archived contact with duplicate name
  apps/workflow/api/xero/sync.py
  apps/workflow/tests/test_sync_clients.py
Due: detect-empty-fstring, autoflake, black, isort, flake8, ruff, pylint-bugs

Sanitize angle braces in text sent to Xero API
  apps/workflow/api/xero/sync.py
  apps/workflow/views/xero/__init__.py
  apps/workflow/views/xero/xero_helpers.py
  apps/workflow/views/xero/xero_invoice_manager.py
  apps/workflow/views/xero/xero_quote_manager.py
Due: detect-empty-fstring, autoflake, black, isort, flake8, ruff, pylint-bugs

Add quote and T&M revenue totals to kanban API for budget colouring
  apps/job/serializers/kanban_serializer.py
  apps/job/services/kanban_service.py
Due: detect-empty-fstring, autoflake, black, isort, flake8, ruff, pylint-bugs

Refactor payroll reconciliation API to production quality
  apps/accounting/__init__.py
  apps/accounting/serializers/__init__.py
  apps/accounting/serializers/core.py
  apps/accounting/serializers/payroll_reconciliation_serializers.py
  apps/accounting/services/__init__.py
  apps/accounting/services/core.py
  apps/accounting/services/payroll_reconciliation_service.py
  apps/accounting/urls.py
  apps/workflow/api/reports/__init__.py
  apps/workflow/api/reports/payroll_reconciliation.py
  docs/urls/workflow.md
  scripts/payroll_reconciliation.py
Due: detect-empty-fstring, autoflake, black, isort, flake8, ruff, pylint-bugs

Add bidirectional payroll reconciliation and date alignment API
  apps/accounting/serializers/__init__.py
  apps/accounting/serializers/payroll_reconciliation_serializers.py
  apps/accounting/services/payroll_reconciliation_service.py
  apps/accounting/urls.py
  apps/workflow/api/reports/__init__.py
  apps/workflow/api/reports/payroll_reconciliation.py
  docs/urls/workflow.md
Due: detect-empty-fstring, autoflake, black, isort, flake8, ruff, pylint-bugs

Fix pay run date filter and N+1 payslip query
  apps/accounting/services/payroll_reconciliation_service.py
Due: detect-empty-fstring, autoflake, black, isort, flake8, ruff, pylint-bugs

chore: simplify deploy backup to use shared backup script
  scripts/deploy.sh
Due: none

docs: add process documents design, plan, and frontend spec
  docs/plans/2026-03-03-process-documents-design.md
  docs/plans/2026-03-03-process-documents-frontend-spec.md
  docs/plans/2026-03-03-process-documents-plan.md
Due: none

refactor: rename SafetyDocument to ProcessDocument
  apps/job/migrations/0070_rename_safetydocument_to_processdocument.py
  apps/job/models/__init__.py
  apps/job/models/process_document.py
  apps/job/serializers/__init__.py
  apps/job/serializers/process_document_serializer.py
  apps/job/services/__init__.py
  apps/job/services/google_docs_service.py
  apps/job/services/process_document_service.py
  apps/job/urls_rest.py
  apps/job/views/__init__.py
  apps/job/views/process_document_viewsets.py
  docs/urls/job.md
Due: detect-empty-fstring, autoflake, black, isort, flake8, ruff, pylint-bugs

feat: expand ProcessDocument with types, tags, template workflow
  apps/job/migrations/0071_expand_process_document_types.py
  apps/job/models/process_document.py
Due: detect-empty-fstring, autoflake, black, isort, flake8, ruff, pylint-bugs

feat: add ProcessDocumentEntry for structured form data
  apps/job/migrations/0072_add_processdocumententry.py
  apps/job/models/__init__.py
  apps/job/models/process_document_entry.py
Due: detect-empty-fstring, autoflake, black, isort, flake8, ruff, pylint-bugs

feat: expand process document serializers with new fields
  apps/job/serializers/__init__.py
  apps/job/serializers/process_document_serializer.py
Due: detect-empty-fstring, autoflake, black, isort, flake8, ruff, pylint-bugs

feat: add process document endpoints with fill/complete workflow
  apps/job/urls_rest.py
  apps/job/views/__init__.py
  apps/job/views/process_document_viewsets.py
  docs/urls/job.md
Due: detect-empty-fstring, autoflake, black, isort, flake8, ruff, pylint-bugs

feat: add fill_template and complete_document to service layer
  apps/job/services/google_docs_service.py
  apps/job/services/process_document_service.py
Due: detect-empty-fstring, autoflake, black, isort, flake8, ruff, pylint-bugs

feat: add management command to import Dropbox H&S documents
  apps/job/management/commands/import_dropbox_hs_documents.py
Due: detect-empty-fstring, autoflake, black, isort, flake8, ruff, pylint-bugs

test: add process document model and service tests
  apps/job/tests/test_process_document.py
  apps/job/tests/test_process_document_service.py
Due: detect-empty-fstring, autoflake, black, isort, flake8, ruff, pylint-bugs

feat: add --credentials and --impersonate flags to import command
  apps/job/management/commands/import_dropbox_hs_documents.py
Due: detect-empty-fstring, autoflake, black, isort, flake8, ruff, pylint-bugs

Good work on importing hte old H&S docs into google drive
  apps/job/management/commands/import_dropbox_hs_documents.py
  apps/job/migrations/0073_add_form_schema.py
  apps/job/models/process_document.py
  apps/job/serializers/__init__.py
  apps/job/serializers/process_document_serializer.py
  apps/job/services/google_docs_service.py
  apps/job/services/process_document_service.py
  apps/job/tests/test_process_document_service.py
  apps/job/views/process_document_viewsets.py
  apps/workflow/migrations/0198_add_shared_drive_fields.py
  apps/workflow/migrations/0199_populate_shared_drive_ids.py
  apps/workflow/models/company_defaults.py
  apps/workflow/models/settings_metadata.py
  docs/plans/2026-03-03-process-documents-frontend-spec.md
  poetry.lock
  pyproject.toml
Due: detect-empty-fstring, autoflake, black, isort, flake8, ruff, pylint-bugs

docs: update frontend spec with form_schema and entries workflow
  docs/plans/2026-03-03-process-documents-frontend-spec.md
Due: none

docs: clarify prose vs form document workflow in frontend spec
  docs/plans/2026-03-03-process-documents-frontend-spec.md
Due: none

feat: add status to update serializer, entry CRUD, and MCP boundary rules
  CLAUDE.md
  apps/job/serializers/__init__.py
  apps/job/serializers/process_document_serializer.py
  apps/job/urls_rest.py
  apps/job/views/__init__.py
  apps/job/views/process_document_viewsets.py
Due: detect-empty-fstring, autoflake, black, isort, flake8, ruff, pylint-bugs

feat: add soft delete and SimpleHistory to process document entries
  apps/job/migrations/0074_add_is_active_to_processdocumententry.py
  apps/job/migrations/0075_add_history_to_process_documents.py
  apps/job/models/process_document.py
  apps/job/models/process_document_entry.py
  apps/job/views/process_document_viewsets.py
Due: detect-empty-fstring, autoflake, black, isort, flake8, ruff, pylint-bugs

fix: add ProcessDocumentStatusEnum override to resolve drf-spectacular collision
  jobs_manager/settings.py
Due: detect-empty-fstring, autoflake, black, isort, flake8, ruff

feat: add drf-spectacular validation to pre-commit hooks
  .pre-commit-config.yaml
Due: none

fix: review fixes — JSA mapping, dead serializers, N+1 queries, CRUD tests
  apps/job/migrations/0071_expand_process_document_types.py
  apps/job/serializers/__init__.py
  apps/job/serializers/process_document_serializer.py
  apps/job/services/process_document_service.py
  apps/job/tests/test_process_document_api.py
  apps/job/tests/test_process_document_service.py
  apps/job/urls_rest.py
  apps/job/views/__init__.py
  apps/job/views/process_document_viewsets.py
  docs/urls/job.md
Due: detect-empty-fstring, autoflake, black, isort, flake8, ruff, pylint-bugs

refactor: split ProcessDocument into Procedure and Form models
  apps/job/migrations/0070_delete_safetydocument.py
  apps/process/management/commands/import_dropbox_hs_documents.py
  apps/process/migrations/0001_initial.py
  apps/process/models/__init__.py
  apps/process/models/form.py
  apps/process/models/form_entry.py
  apps/process/models/procedure.py
  apps/process/models/process_document.py
  apps/process/serializers/__init__.py
  apps/process/serializers/form_serializer.py
  apps/process/serializers/procedure_serializer.py
  apps/process/serializers/process_document_serializer.py
  apps/process/services/__init__.py
  apps/process/services/form_service.py
  apps/process/services/procedure_service.py
  apps/process/services/process_document_service.py
  apps/process/tests/test_form_api.py
  apps/process/tests/test_form_model.py
  apps/process/tests/test_form_service.py
  apps/process/tests/test_procedure_api.py
  apps/process/tests/test_procedure_model.py
  apps/process/tests/test_procedure_service.py
  apps/process/tests/test_process_document.py
  apps/process/tests/test_process_document_api.py
  apps/process/tests/test_process_document_service.py
  apps/process/urls_rest.py
  apps/process/views/__init__.py
  apps/process/views/form_viewsets.py
  apps/process/views/procedure_viewsets.py
  docs/urls/process.md
  jobs_manager/settings.py
Due: detect-empty-fstring, autoflake, black, isort, flake8, ruff, pylint-bugs

fix: post-split cleanup — drop company_name, fix register import, add categories endpoint
  apps/process/__init__.py
  apps/process/management/commands/import_dropbox_hs_documents.py
  apps/process/migrations/0001_initial.py
  apps/process/models/form.py
  apps/process/models/procedure.py
  apps/process/serializers/form_serializer.py
  apps/process/serializers/procedure_serializer.py
  apps/process/services/form_service.py
  apps/process/services/procedure_service.py
  apps/process/tests/test_form_api.py
  apps/process/tests/test_form_model.py
  apps/process/tests/test_form_service.py
  apps/process/tests/test_procedure_api.py
  apps/process/tests/test_procedure_model.py
  apps/process/tests/test_procedure_service.py
  apps/process/urls_rest.py
  docs/urls/process.md
Due: detect-empty-fstring, autoflake, black, isort, flake8, ruff, pylint-bugs

Helper to list all JSAs
  apps/process/views/procedure_viewsets.py
Due: detect-empty-fstring, autoflake, black, isort, flake8, ruff, pylint-bugs

refactor: flatten Form/FormEntry — remove template-as-form anti-pattern
  apps/process/management/commands/import_dropbox_hs_documents.py
  apps/process/migrations/0001_initial.py
  apps/process/models/form.py
  apps/process/models/form_entry.py
  apps/process/serializers/form_serializer.py
  apps/process/services/form_service.py
  apps/process/tests/conftest.py
  apps/process/tests/test_form_api.py
  apps/process/tests/test_form_model.py
  apps/process/tests/test_form_service.py
  apps/process/urls_rest.py
  apps/process/views/__init__.py
  apps/process/views/form_viewsets.py
  docs/urls/process.md
  jobs_manager/settings.py
Due: detect-empty-fstring, autoflake, black, isort, flake8, ruff, pylint-bugs

feat: add staff FK to FormEntry for subject tracking
  apps/process/migrations/0002_formentry_staff_historicalformentry_staff_and_more.py
  apps/process/models/form_entry.py
  apps/process/serializers/form_serializer.py
Due: detect-empty-fstring, autoflake, black, isort, flake8, ruff, pylint-bugs

chore: gitignore process fixtures with sensitive H&S data
  .gitignore
Due: none

Path conditions:
  detect-empty-fstring: any of: \.py$ and \.py$
  autoflake: any of: \.py$ and \.py$
  black: any of: ^(?:apps/|jobs_manager/|scripts/).+\.py$|^[^/]+\.py$ and \.py$
  isort: any of: ^(?:apps/|jobs_manager/|scripts/).+\.py$|^[^/]+\.py$ and \.py$ and not ((?x)^(
    .*__init__\.py$ # any __init__.py files
)
)
  flake8: any of: ^(?:apps/|jobs_manager/|scripts/).+\.py$|^[^/]+\.py$ and \.py$
  ruff: any of: ^(?:apps/|jobs_manager/|scripts/).+\.py$|^[^/]+\.py$ and \.py$ and not (.*/migrations/.*\.py$)
  pylint-bugs: any of: ^apps/.+\.py$ and \.py$
